appdirs==1.4.3
certifi==2017.4.17
chardet==3.0.3
Django==1.11.1
idna==2.5
packaging==16.8
pkginfo==1.4.1
pyparsing==2.2.0
pytz==2017.2
requests==2.16.5
requests-toolbelt==0.8.0
six==1.10.0
tqdm==4.11.2
twine==1.9.1
urllib3==1.26.5
